.navbar.primary-navbar {
    background: lightblue;

    position: relative;

    display: grid;
    grid-template-columns: 1fr minmax( min-content, max-content) 1fr;
    grid-column-gap: 1rem;

    grid-template-areas: "navbar-cell-left navbar-cell-center navbar-cell-right";

    .navbar-toggler.Hamburger {
        grid-area: navbar-cell-left;
        justify-self: start;
        align-self: center;
    }

    .navbar-brand.Brand {
        background: lightgreen;
        grid-area: navbar-cell-center;
        justify-self: center;
        align-self: center;
    }

    .navbar-vert-propup-mobile {
        grid-area: navbar-cell-center;
        background: transparent;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 1px;
    
        
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }
    
    .navbar-nav.PrimaryMenu {
        display: none;
    }
    
    .navbar-nav-right {
        background: red;
        grid-area: navbar-cell-right;
        justify-self: end;
        display: flex;
        align-items: center;

        .nav-item {
            margin-right: .75rem;
        }
        
        .nav-item:last-child {
            margin-right: 0;
            position: relative;
            background: white;
        }

        &__user-menu {
            position: relative;
        }

        &__user-dropdown {
            position: absolute;
            border: 1px solid green;
            width: 400%;
            margin-left: -300%;
            text-align: right;
            background: #fff;
            display: none;
            padding: .5rem;
            
            .navbar-nav-right__dropdown-link {
                display: block;
                padding: .5rem;
                white-space:nowrap;

                margin-top: 2px;
            }
        }

        &__user-icon-link:active + .navbar-nav-right__user-dropdown,
        &__user-icon-link:focus + .navbar-nav-right__user-dropdown {
            display: block;
        }

        ///////// https://stackoverflow.com/questions/39315359/flickering-fill-issue-on-svg-hover
        // &__icon-link:hover,
        // &__icon-link:active,
        // &__icon-link:focus {
        //     cursor: copy; // dbug
        //
        //     backface-visibility: hidden;
        //     .navbar-nav-right__icon--mobile, .navbar-nav-right__icon--desktop {
        //         opacity: 1;
        //         width: 9rem; // dbug
        //         backface-visibility: hidden;
        //     }
        // }

        &__search-overlay {
            position: fixed;
            z-index: 1;

            background: rgba(0, 0, 0, 0.5);

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: none;
        }

        &__search-dropdown {
            position: absolute;
            z-index: 1;
            
            background: green;
            border: 1px solid blue;

            left: 0;
            right: 0;
            top: 100%;

            display: none;
        }

        &__search-icon-link:active + .navbar-nav-right__search-overlay,
        &__search-icon-link:focus + .navbar-nav-right__search-overlay,
        &__search-icon-link:active ~ .navbar-nav-right__search-dropdown,
        &__search-icon-link:focus ~ .navbar-nav-right__search-dropdown {
            display: block;
        }

        &__icon {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.PrimaryHeader.CartBadge {
    .CartBadge__icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    .CartBadge__qty {
        font-size: .7rem;
    }
}

@media only screen and (min-width: 75em) { /* 1200px */

    .PrimaryHeader.CartBadge {
        .CartBadge__icon {
            width: 2.25rem;
            height: 2.25rem;
        }
        .CartBadge__qty {
            font-size: .8rem;
        }
    }

    .navbar.primary-navbar {
        .navbar-toggler {
            display: none;
        }

        .navbar-brand.Brand {
            background: lightyellow;
            grid-area: navbar-cell-left;
            justify-self: start; /* center */
            align-self: center;
        }

        .navbar-vert-propup-mobile {
            display: none;
        }
    
        .navbar-nav.PrimaryMenu {
            display: flex;
            grid-area: navbar-cell-center;
            justify-self: center;
        }

        .navbar-nav-right {
            .nav-item {
                margin-right: 1.125rem;
            }
            
            &__icon {
                height: 2.25rem;
                width: 2.25rem;
            }
        }

    }
}