*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%; /* 16px. The number of px evaluated to by the % defines 1rem */
}
body {
    font-size: 1rem; /* base font size for our page  */
    overflow: hidden;
}
ul {
    list-style-type: none;
}